*{
    margin: 0 ;
    padding: 0;
    box-sizing:border-box;
    border: border-box
}

.header-button{
    background-color: #00eb79;;
border: 2px solid #00eb79;
color:aliceblue
}
.nav-item{
    color:black
}
video{
    height:100vh;
    width:98%;
    margin-top: 0.8rem;
    border-radius: 20px;
    background-color: rgb(30, 233, 138);
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    list-style-type: none;
}

#card {
    width: calc(25% - 20px); /* Adjust the width as needed */
     padding: 15px;
    border-radius: 1rem;
    list-style-type: none;
    height:70vh;
    line-height: 2.5rem;
    
}

@media (max-width: 768px) {
    #card {
        width: calc(50% - 20px); /* Adjust the width for smaller screens */
    }
}

@media (max-width: 480px) {
    #card {
        width: 100%; /* Full width for screens smaller than 480px */
    }}
.icon li image{
    width: 5%;
    height:1rem;
    
}
.card-text{
    list-style-type: none;
}
.card-1{
    color:white;
    background-color: blue;
}
.card-2{
    color:green;
    background-color:lightgreen;
}
.card-3{
    color:#00eb79;
    background-color: blue;
}
.card-4{
    color: white;
    background-color: black;
}
#card h4 image{
    width:20px;
    height: 20px;
}